body {
  background-color: whitesmoke;
}
.jobScreenCont {
  width: 90%;
  margin: 0 auto;
  display: flex;
  .jobList {
    height: 125vh;
    //make vertical scrolling
    overflow-y: scroll;
    width: 50%;

    //make the scoll bar thinner
    &::-webkit-scrollbar {
      width: 0.5rem;
    }
    .loadMore {
      width: 100%;
    }
    .noJobs {
      display: flex;
      width: 100%;
      height: 100vh;
      justify-content: center;
      align-items: center;
      background-color: whitesmoke;
    }
  }
  .jobDesContApp {
    width: 50%;

    position: sticky;
  }
}
@media (max-width: 768px) {
  .jobScreenCont {
    flex-direction: column;
    .jobList {
      width: 100%;
      height: 100vh;
      margin-top: 20px;
      .card {
        margin: 10px auto;
        width: 95%;
        .jobDesc {
          width: 100%;
        }
      }
    }
    .jobDesContApp {
      display: none;
    }
  }
}
